.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.headnav a{
  color: white;
  background-color: grey;
  margin: 20px;
  
}
.headnav .active{
  color: white;
  background: #da973d;
}
.headnav a:hover{
  text-decoration: none;
  color: #b32d0d;
  transform: scale(1.03);
  transition: 0.5s all;
}
.footer{
    background-color: thistle;
    padding: 1em 0;
}
.footer ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer ul li{
  margin: 0 1em;
}
.footer ul li a{
  color: black;
  font-size: 1.1em;
}
.footer ul li a:hover{
  text-decoration: none;
}

.maindiv:focus{
  background-color: lawngreen;
}